<!DOCTYPE html>
<html lang="es">
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <meta charset="UTF-8">
    <title>Registro</title>
</head>
<body>
    <h1>Registro de Usuario</h1>
    <input type="text" id="username" placeholder="Usuario">
    <input type="password" id="password" placeholder="Contraseña">
    <button onclick="register()">Registrar</button>
    <p id="msg"></p>

    <script>
        async function register() {
            const user = document.getElementById("username").value;
            const pass = document.getElementById("password").value;
            const res = await fetch("/register", {
                method: "POST",
                body: new URLSearchParams({username: user, password: pass})
            });
            const data = await res.json();
            document.getElementById("msg").innerText = data.status;
        }

        // ✅ Permitir presionar Enter para registrar
        document.getElementById("password").addEventListener("keydown", function(e){
            if(e.key === "Enter"){
                e.preventDefault(); // evita comportamiento por defecto
                register();         // llama a la función register
            }
        });
    </script>

    <a href="/login">Ir a Login</a>
</body>
</html>
